body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('background.jpg'); /* Replace with the path to your background image */
    /* background-color: rgb(201, 140, 67);*/
    background-repeat: repeat;
    background-attachment: fixed ;
    
}
        
.list-group-item {
    background: rgba(131, 99, 99, 0.8); /* Make the background semi-transparent */
    margin-bottom: 10px;
    align-content: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;

}
p {
  color: whitesmoke;

}

img {
  
}
.button {
  position: relative; /* Set button in right position */
  width: 40px; /* Width of button */
  height: 40px; /* Height of button */
  /* Style button */
  background: #127357;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  opacity: 0.5;
}